html {
	height: 100%;
	overflow: hidden;
}

@font-face {
	font-family: "Noto Sans Ambassadori Bold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Bold.ttf);
  }
  @font-face {
	font-family: "Noto Sans Ambassadori Bold";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Bold.ttf);
  }
body {
	height: 100%;
	display: flex;
	align-items: flex-end;
	margin: 0;
}

#EgtFlashBannerHolder {
    background: url('./img/logo-md.webp') no-repeat center top;
	background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

	@media (min-width: 381px) {
		background-size: cover;
		background-repeat: repeat;
		background-position: center 20%;
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV{
			margin-bottom: 1vw;
		}
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers{
			line-height: 40px !important;
		}
	}
	
}
/* 
@media screen and (max-width: 768px) {
    #EgtFlashBannerHolder {
        transform-origin: center center;
    }
}

@media screen and (max-width: 480px) {
    #EgtFlashBannerHolder {
        transform-origin: center center;
    }
} */

#com-egt-jackpot-html-jackpotBanner {
	margin-top: 38vh;
	position: relative;
	object-fit: cover;
	color: #FFF;
	text-align: center;
	font-family: "Noto Sans Ambassadori Bold";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 6px;

	
	@media (min-width: 381px) {
		.com-egt-jackpot-html-I,
		.com-egt-jackpot-html-II,
		.com-egt-jackpot-html-III,
		.com-egt-jackpot-html-IV{
			height: 44px;
		}
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers{
			width: 1vw;
		}
		scale: 0.7;
		margin-top: 44px;
	}
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-clear-fix {
	clear: both;
	height: 0;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-ie8 {
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	font-size: 16px;
}

/* Jackpot components styles */

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	display: block;
	margin: 0;
	behavior: url(pie.htc);
	position: relative;
	text-align: center;
	z-index: 1;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/bg.webp', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/bg.webp', sizingMethod='scale')";
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-level {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	display: block;
	margin-left: 6px;
	top: 32% !important;
	left: 2% !important;
}

/* #com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-logo {
	float: none;
	display: none;
	border: none;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logo.webp', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logo.webp', sizingMethod='scale')";
	overflow: hidden;
	visibility: visible;
}
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	width: 90%;
	display: block;
	margin: 0 auto 15px auto;
} */

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-button {
	display: block;
	text-decoration: none;
	margin: 15px auto 0 auto;
	behavior: url(pie.htc);
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	box-shadow: 2px 2px 4px #000;
	border: 1px solid;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency {
	position: absolute;
	right: 0;
	color: #FFF;
	font-family: "Noto Sans Ambassadori Bold";
	display: block;
	width: 8.5vw;
	height: 100%;
	padding: 0;
	align-content: center;
	font-size: 2.5vw !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency .com-egt-jackpot-html-currencyText {
	display: block;
	width: 25px;
	margin-left: 2px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-value {
	position: absolute;
	right: 8vw;
	height: 100%;
	width: auto;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers {
	float: left;
	position: relative;
	height: 100%;
	overflow: hidden;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}
.com-egt-jackpot-html-I {
	background: url('./img/bgI.webp') repeat-x;
}
.com-egt-jackpot-html-II {
	background: url('./img/bgII.webp') repeat-x;

}
.com-egt-jackpot-html-III {
	background: url('./img/bgIII.webp') repeat-x;

}
.com-egt-jackpot-html-IV {
	background: url('./img/bgIV.webp') repeat-x;

}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	font-size: 3vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	font-size: 3vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	font-size: 3vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	font-size: 3vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit .com-egt-jackpot-html-old,
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit .com-egt-jackpot-html-new {
	display: block;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-first {
	border-left: none;
	width: 0px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit,
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-dot span {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-dot {
	width: 8px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-dummyImg {
	position: absolute;
	border: none;
	/*background: red;*/
	/*opacity: 0.5;*/
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUpMask {
	position: absolute;
	/*overflow: hidden;*/
	/*background: yellow;*/
	/*opacity: 0.75;*/
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #000;
	display: block;
	position: absolute;
	behavior: url(pie.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #999;
	font-size: 11px;
	padding: 0 5px;
	width: 180px !important;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-divider {
	display: block;
	width: 100%;
	height: 1px;
	background: #999;
	clear: both;
	padding: 0 5px;
	/*margin: 0 0 0 -5px;*/
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-divider.com-egt-jackpot-html-last {
	height: 0;
	display: none;
	clear: both;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div {
	width: 100%;
	margin: 0;
	float: left;
	line-height: 14px;
	padding: 5px 0;
	text-align: left;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div.com-egt-jackpot-html-center {
	text-align: center;
	font-size: 16px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div span {
	float: left;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-winner {
	font-weight: bold;
	font-style: italic;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-count {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-price {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	float: none;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-cur {
	color: #999;
	padding-left: 8px;
	float: none;
	font-weight: bold;
	font-size: 16px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-logoPopUp {
	display: inline-block;
	width: 100%;
	margin: 5px auto 10px auto;
	background: url('./img/logoPopup.webp') no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logoPopup.webp', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logoPopup.webp', sizingMethod='scale')";
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-right {
	float: right;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-after,
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-before {
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	border: solid transparent;
}

/* Old phones screens */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box {
	display: block;
	width: 88%;

	margin: 0 auto 4.5vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	margin-bottom: 0;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 4vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 4vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 4vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 4vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box .com-egt-jackpot-html-level {
	left: 2px !important;
}

/* #com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-logo { display: none; }
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile { display: block; } */

/* XTRA SMALL screens: phones - portrait*/
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box {
	margin: 0 auto 15px auto;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 60%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 70%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 80%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 90%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	margin-bottom: 0;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 17px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 18px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 19px;
}

/* #com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-logo { display: none; }
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile { display: block; } */

/* SMALL screens - phones - landscape, tablets - portrait */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 46%;
	float: right;
	margin-right: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 46%;
	float: left;
	margin-left: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 46%;
	float: right;
	margin-right: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 46%;
	float: left;
	margin-left: 2%;
}


#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	margin-bottom: 2.4vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	margin-bottom: 2.4vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	line-height: 8vw !important;
	width: 2vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	line-height: 8vw !important;
	width: 2vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	line-height: 8vw !important;
	width: 2vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	line-height: 8vw !important;
	width: 2vw;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-logo {
	display: none;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	display: block;
}

/* MEDIUM screens - laptops, tablets - landscape */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-logo {
	float: right;
	width: 14%;
	margin-right: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 14%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 17%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 20%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 23%;
	margin-right: 1%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 19%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 21%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 24%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 27%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-equal {
	width: 18.5%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal {
	width: 23%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 12px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 13px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 13px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 14px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-logo {
	display: block;
	margin-right: 3%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	display: none;
}

/* LARGE screens: large desktops */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-logo {
	float: right;
	width: 19%;
	margin-right: 2.5%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 13%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 16%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 18%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 20%;
	margin-right: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 16%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 19%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 25%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 28%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-equal {
	width: 16.5%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal {
	width: 22%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 15px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-logo {
	display: block;
	margin-right: 3%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	display: none;
}

.class-md {
	height: 9vw;
	border-width: 0.6vw !important;
	border-radius: 0.8vw !important;
}

.imgI{
	width: 9.4vw !important;
	height: 3.2vw !important;
}
.imgII{
	width: 12vw !important;
	height: 3vw !important;
}
.imgIII{
	width: 12vw !important;
	height: 3.5vw !important;
}
.imgIV{
	width: 11.8vw !important;
	height: 3vw !important;
}
	
.com-egt-jackpot-html-popUpMask{
	display: none;
}

@media screen and (min-height: 161px) {
    #EgtFlashBannerHolder {
		background: url('./img/logo.webp') no-repeat center top;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: relative;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		
		flex-direction: column;
		align-items: center;
		justify-content: center;
    }
		
	.com-egt-jackpot-html-popUpMask{
		display: flex;
	}

	#com-egt-jackpot-html-jackpotBanner {
		margin-top: 47%;
		position: relative;
		object-fit: cover;
		color: #FFF;
		text-align: center;
		font-family: "Noto Sans Ambassadori Bold";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 6px;
	}
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
		width: 28%;
		float: left;
		margin-left: 17%;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
		width: 33%;
		float: right;
		margin-right: 17%;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
		width: 38%;
		float: left;
		margin-left: 7%;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
		width: 43%;
		float: right;
		margin-right: 7%;
	}
	
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
		margin-bottom: 15px;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
		margin-bottom: 15px;
	}

	.class-md {
		height: 16vw;
		border-width: 1vw !important;
		border-radius: 4px !important;
	}
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-level {
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		display: block;
		margin-left: 6px;		
		top: 4vw !important;
		left: 2% !important;
	}
	
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
		line-height: 14vw !important;
		font-size: 6vw;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
		line-height: 14vw !important;
		font-size: 6vw;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
		line-height: 14vw !important;
		font-size: 6vw;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
		font-size: 6vw;
		line-height: 14vw !important;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 15px;
	}

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 16px;
	}

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 17px;
	}

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 18px;
	}
	
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency {
		position: absolute;
		right: 0;
		color: #FFF;
		font-family: "Noto Sans Ambassadori Bold";
		display: block;
		width: 15vw;
		height: 100%;
		padding: 0;
		align-content: center;
		font-size: 5vw !important;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-value {
		position: absolute;
		right: 13vw;
		height: 100%;
		width: auto;
	}

	.imgI{
		width: 24vw !important;
		height: 8vw !important;
	}
	.imgII{
		width: 31vw !important;
		height: 8vw !important;
	}
	.imgIII{
		width: 30vw !important;
		height: 8vw !important;
	}
	.imgIV{
		width: 30vw !important;
		height: 8vw !important;
	}
}
