:root {
  --level-icon-size: 3.698vw;
  --level-icon-top-offset: -1.615vw;

  --border-color-gold: #b28649;

  --box-shadow: 0vw 0.208vw 0.208vw 0vw rgba(0, 0, 0, 0.25) inset;

  --gradient-banner: linear-gradient(
    180deg,
    rgba(43, 48, 43, 0.6) 0%,
    rgba(37, 37, 36, 0.6) 95.1%
  );
  --gradient-default: linear-gradient(
    180deg,
    #380606 0%,
    #6f0c0b 36%,
    #6f0c0b 68%,
    #440606 100%
  );

  --gradient-level-ii: #0F3C00;
  --border-color-level-ii: #40FA00;
  --border-width-level-ii: 3px;
  --border-width-level-ii: 2px;
  --border-width-level-iii: 2px;

  --gradient-level-iii: #B7671A;
  --gradient-level-iii-icon: linear-gradient(
    180deg,
    #0c0d00 0%,
    #113001 38%,
    #0c0c00 100%
  );
  --border-color-level-iii: #F39300;

  --bg-image: url(/Unibo-dynamic/img/jackpot-content.jpg);
  --logo-image: url(/Unibo-dynamic/img/logo.png);
  --minilogo-image: url(/Unibo-dynamic/img/logo.png);
  --level-ii-mini-image: url(/Unibo-dynamic/img/I.png);
  --level-iii-mini-image: url(/Unibo-dynamic/img/II.png);
}

@media screen and (max-width: 768px) {
  :root {
    --logo-image: url(/Unibo-dynamic/img/logo-small.png);
  }
}
.com-egt-jackpot-html-box {
  .range::before {
      content: var(--jp-range);
      color: var(--text-color);
      padding: 3px 6px;
      border-radius: 25px;
      position: absolute;
      inset: 0;
      font-size: .7vw;
      font-family: 'Noto Sans Ambassadori';
      background: var(--gradient-level-iii-range, var(--gradient-level-ii));
      border: var(--border-width-level-ii) solid var(--border-color-level-iii-range, var(--border-color-level-ii));
      display: flex;
      width: fit-content;
      height: fit-content;
      margin-left: calc(10vw / 3);
      top: -20%;
      @media (width < 1500px) {
        font-size: .55vw;

        
      }
  }
  &.com-egt-jackpot-html-II {
    --jp-range: "2 500₾ - 7 500₾";
    --text-color: #40FA00;
  }
    &.com-egt-jackpot-html-III {
    --jp-range: "II";
    --gradient-level-iii-range: red;
    --border-color-level-iii-range: blue;
  }
}