:root {
  --level-icon-size: 3.698vw;
  --level-icon-top-offset: -1.615vw;

  --border-color-gold: #b28649;

  --box-shadow: 0vw 0.208vw .208vw 0vw rgba(0, 0, 0, 0.25) inset;

  --gradient-banner: linear-gradient(180deg, rgba(43, 48, 43, 0.60) 0%, rgba(37, 37, 36, 0.60) 95.1%);
  --gradient-default: linear-gradient(
    180deg,
    #380606 0%,
    #6f0c0b 36%,
    #6f0c0b 68%,
    #440606 100%
  );



  --gradient-level-ii: linear-gradient(180deg, #4D0000 0%, #4D0000 36%, #4D0000 68%, #4D0000 100%);
  --border-color-level-ii: #f89410;

  --gradient-level-iii: linear-gradient(180deg, #4D0000 0%, #4D0000 36%, #4D0000 68%, #4D0000 100%);
  --gradient-level-iii-icon: linear-gradient(180deg, #0C0D00 0%, #113001 38%, #0C0C00 100%);
  --border-color-level-iii: #f89410;




  --bg-image: url(/Unibo-dynamic/img/jackpot-content.jpg);
  --logo-image: url(/Unibo-dynamic/img/logo.png);
  --minilogo-image: url(/Unibo-dynamic/img/logo.png);
  --level-ii-mini-image: url(/Unibo-dynamic/img/I.png);
  --level-iii-mini-image: url(/Unibo-dynamic/img/II.png);

  

  
}




@media screen and (max-width: 768px) {
  :root {
  --logo-image: url(/Unibo-dynamic/img/logo-small.png);
  }

}