html {
	height: 100%;
	overflow: hidden;
	--numbers-width: 1vw;
}

@font-face {
	font-family: "Noto Sans Ambassadori";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Regular.ttf);
}

@font-face {
	font-family: "Noto Sans Ambassadori Bold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Bold.ttf);
}

@font-face {
	font-family: "Noto Sans Ambassadori Bold";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Bold.ttf);
}

body {
	height: 100%;
	display: flex;
	align-items: flex-end;
	margin: 0;
}

#EgtFlashBannerHolder {
	background: url("./img/jackpot-content\ \(1\).png") no-repeat center top;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-position: top;

		background-size: cover;
		background-repeat: repeat;
		background-position: center 20%;

		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
			/* margin-bottom: 1vw; */
		}

		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers,
		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
			line-height: 430% !important;
	}
}

/* @media screen and (max-width: 768px) {
	#EgtFlashBannerHolder {
		transform-origin: center center;
	}
}

@media screen and (max-width: 480px) {
	#EgtFlashBannerHolder {
		transform-origin: center center;
	}
} */

#com-egt-jackpot-html-jackpotBanner {
	margin-top: 38vh;
	position: relative;
	object-fit: cover;
	color: #fff;
	text-align: center;
	font-family: "Noto Sans Ambassadori", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	align-items: center;
	display: flex !important;
	justify-content: space-around !important;

		.com-egt-jackpot-html-I,
		.com-egt-jackpot-html-II,
		.com-egt-jackpot-html-III,
		.com-egt-jackpot-html-IV {
			height: 5vw;
		}

		#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
			width: 1vw;
		}
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-clear-fix {
	content: url(./img/524c1215-8c72-41a0-bb03-4c373fd52645\ 2.png);
	clear: both;
	height: 4vw;
	order: 2;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-ie8 {
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	font-size: 16px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	display: block;
	margin: 0;
	behavior: url(pie.htc);
	position: relative;
	text-align: center;
	z-index: 1;
	position: relative;
	margin-left: 3vw;

	background: linear-gradient(180deg, #380606 0%, #6F0C0B 36%, #6F0C0B 68%, #440606 100%);
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/bg.webp', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/bg.webp', sizingMethod='scale')";
}

.com-egt-jackpot-html-IV::before,
.com-egt-jackpot-html-III::before,
.com-egt-jackpot-html-II::before,
.com-egt-jackpot-html-I::before {
    content: " ";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 64px;
    border: 0.2vw solid #B28649;
    background: linear-gradient(180deg, #380606 0%, #6F0C0B 36%, #6F0C0B 68%, #440606 100%);
    background-size: cover;
	width: 6.2vw;

}
.com-egt-jackpot-html-IV::after{
	
    content: " ";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
	background-image: url("./img/aIV.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	width: 5vw;
}
.com-egt-jackpot-html-III::after{

    content: " ";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
	background-image: url("./img/aIII.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	width: 5vw;
}
.com-egt-jackpot-html-II::after{

    content: " ";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
	background-image: url("./img/aII.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	width: 5vw;
}
.com-egt-jackpot-html-I::after {
    content: " ";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
	background-image: url("./img/aI.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	width: 5vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-level {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0% !important;
	left: 50% !important;
	transform: translateX(-50%) translateY(-50%);
	width: 8vw !important;
	height: 8vw !important;
}

/* #com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-logo {
	float: none;
	display: none;
	border: none;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logo.webp', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logo.webp', sizingMethod='scale')";
	overflow: hidden;
	visibility: visible;
}
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	width: 90%;
	display: block;
	margin: 0 auto 15px auto;
} */

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-button {
	display: block;
	text-decoration: none;
	margin: 15px auto 0 auto;
	behavior: url(pie.htc);
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	box-shadow: 2px 2px 4px #000;
	border: 1px solid;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency {
	color: #fff;
	font-family: "Noto Sans Ambassadori";
	display: block;
	word-wrap: break-word;
	height: 100%;
	padding: 0;
	align-content: center;
	font-size: 1.7vw !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency .com-egt-jackpot-html-currencyText {
	display: block;
	width: 3vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-value {
	position: absolute;
	right: 1.5vw;
	height: 100%;
	width: auto;
}

.com-egt-jackpot-html-II,
.com-egt-jackpot-html-I {
	order: 3;
	.com-egt-jackpot-html-value {
		padding-right: 2.5vw;
		padding-right: 0;
	}
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers {
	float: left;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align: right;
	font-family: "Noto Sans Ambassadori";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit {
	position: absolute;
	display: block;
	transform: translateY(-16%);
	width: 100%;
	height: 100%;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	font-size: var(--var-font-size) !important;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	font-size: var(--var-font-size) !important;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	font-size: var(--var-font-size) !important;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	font-size: var(--var-font-size) !important;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit .com-egt-jackpot-html-old,
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit .com-egt-jackpot-html-new {
	display: block;
	height: 5vw;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-first {
	border-left: none;
	width: 0px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit,
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-dot span {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-dot {
	transform: translateY(-16%);
	width: 8px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-dummyImg {
	position: absolute;
	border: none;
	/*background: red;*/
	/*opacity: 0.5;*/
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUpMask {
	position: absolute;
	/*overflow: hidden;*/
	/*background: yellow;*/
	/*opacity: 0.75;*/
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #000;
	display: block;
	position: absolute;
	behavior: url(pie.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #999;
	font-size: 11px;
	padding: 0 5px;
	width: 180px !important;
	margin-top: 25px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-divider {
	display: block;
	width: 100%;
	height: 1px;
	background: #999;
	clear: both;
	padding: 0 5px;
	/*margin: 0 0 0 -5px;*/
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-divider.com-egt-jackpot-html-last {
	height: 0;
	display: none;
	clear: both;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div {
	width: 100%;
	margin: 0;
	float: left;
	line-height: 14px;
	padding: 5px 0;
	text-align: left;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div.com-egt-jackpot-html-center {
	text-align: center;
	font-size: 16px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div span {
	float: left;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-winner {
	font-weight: bold;
	font-style: italic;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-count {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-price {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	float: none;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-cur {
	color: #999;
	padding-left: 8px;
	float: none;
	font-weight: bold;
	font-size: 16px;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-logoPopUp {
	display: inline-block;
	width: 100%;
	margin: 5px auto 10px auto;
	background: url("./img/logoPopup.webp") no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logoPopup.webp', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/logoPopup.webp', sizingMethod='scale')";
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-div .com-egt-jackpot-html-right {
	float: right;
}

#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-after,
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-popUp .com-egt-jackpot-html-before {
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	border: solid transparent;
}

/* Old phones screens */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box {
	display: block;

	margin: 0 auto 4px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	margin-bottom: 0;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: var(--numbers-margin);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: var(--numbers-margin);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: var(--numbers-margin);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: var(--numbers-margin);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-box .com-egt-jackpot-html-level {
	left: 2px !important;
}

/* #com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-logo { display: none; }
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xsm .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile { display: block; } */

/* XTRA SMALL screens: phones - portrait*/
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box {
	margin: 0 auto 15px auto;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 60%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 70%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 80%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 90%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	margin-bottom: 0;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 17px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 18px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 19px;
}

/* #com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-logo { display: none; }
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-sm .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile { display: block; } */

/* SMALL screens - phones - landscape, tablets - portrait */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 44%;
	float: right;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 44%;
	float: left;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 44%;
	float: right;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 44%;
	float: left;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	/* margin-bottom: var(--numbers-width); */
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	/* margin-bottom: var(--numbers-width); */
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	line-height: inherit !important;
	width: var(--numbers-width);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	line-height: inherit !important;
	width: var(--numbers-width);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	line-height: inherit !important;
	width: var(--numbers-width);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	line-height: inherit !important;
	width: var(--numbers-width);
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-logo {
	display: none;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	display: block;
}

/* MEDIUM screens - laptops, tablets - landscape */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-logo {
	float: right;
	width: 14%;
	margin-right: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 14%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 17%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 20%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 23%;
	margin-right: 1%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 19%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 21%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 24%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 27%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-equal {
	width: 18.5%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal {
	width: 23%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 12px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 13px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 13px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 14px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-logo {
	display: block;
	margin-right: 3%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-lg .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	display: none;
}

/* LARGE screens: large desktops */
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-logo {
	float: right;
	width: 19%;
	margin-right: 2.5%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 13%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 16%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 18%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 20%;
	margin-right: 2%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	width: 16%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	width: 19%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	width: 25%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-no-logo.com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	width: 28%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-equal {
	width: 16.5%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal,
#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV.com-egt-jackpot-html-no-logo.com-egt-jackpot-html-equal {
	width: 22%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
	width: 15px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
	width: 16px;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-logo {
	display: block;
	margin-right: 3%;
}

#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-xlg .com-egt-jackpot-html-logo.com-egt-jackpot-html-mobile {
	display: none;
}

.class-md {
	height: 9vw;
	border-radius: 4px 12px 12px 4px !important;
}

.imgI {
	width: 9vw !important;
	height: 5var (--numbers-width) !important;
}

.imgII {
	width: 1var (--numbers-width) !important;
	height: 3vw !important;
}

.imgIII {
	width: 1var (--numbers-width) !important;
	height: 3.5vw !important;
}

.imgIV {
	width: 11.8vw !important;
	height: 3vw !important;
}

.com-egt-jackpot-html-popUpMask {
	display: none;
}

/* 
@media screen and (min-height: 161px) {
    #EgtFlashBannerHolder {
		background: url('./img/logo.webp') no-repeat center 50%;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: relative;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		
		flex-direction: column;
		align-items: center;
		justify-content: center;
    }
	
	.com-egt-jackpot-html-popUpMask{
		display: flex;
	}

	#com-egt-jackpot-html-jackpotBanner {
		margin-top: 40vw;
		position: relative;
		object-fit: cover;
		color: #FFF;
		text-align: center;
		font-family: "Noto Sans Ambassadori";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 6px;
	}
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers .com-egt-jackpot-html-digit {
		position: absolute;
		transform: translateY(10%);
		display: block;
		width: 100%;
		height: 100%;
	}
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
		width: 28%;
		float: left;
		margin-left: 17%;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II {
		width: 33%;
		float: right;
		margin-right: 17%;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
		width: 38%;
		float: left;
		margin-left: 7%;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
		width: 43%;
		float: right;
		margin-right: 7%;
	}
	
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
		margin-bottom: 15px;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III {
		margin-bottom: 15px;
	}
	
	.class-md {
		height: 15vw;
		border-width: 3px !important;
		border-radius: 4px !important;
	}
	
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-level {
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		display: block;
		margin-left: 6px;
		top: 4vw !important;
		left: 2% !important;

	}
		
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
		line-height: 1var(--numbers-width) !important;
		font-size: 6vw;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
		line-height: 1var(--numbers-width) !important;
		font-size: 6vw;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
		line-height: 1var(--numbers-width) !important;
		font-size: 6vw;
	}

	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
		line-height: 1var(--numbers-width) !important;
		font-size: 6vw;
	}
	
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 15px;
	}

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 16px;
	}

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 17px;
	}

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV .com-egt-jackpot-html-numbers {
		line-height: 46px !important;
		width: 18px;
	}
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-numbers.com-egt-jackpot-html-dot {
		transform: translateY(10%) !important;
		width: 8px;
	}
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency {
		width: 34px !important;
		height: 100%;
		padding: 0;
		margin-left: var(--numbers-width);
		align-content: center;    
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-value {
		position: absolute;
		right: 18px;
		height: 75%;
		margin-top: 6px;
		width: auto;
	}
	
	.imgI{
		width: 52px !important;
		height: 18px !important;
	}
	.imgII{
		width: 73px !important;
		height: 18px !important;
	}
	.imgIII{
		width: 78px !important;
		height: 24px !important;
	}
	.imgIV{
		width: 74px !important;
		height: 18px !important;
	}

	
#com-egt-jackpot-html-jackpotBanner .com-egt-jackpot-html-box .com-egt-jackpot-html-currency .com-egt-jackpot-html-currencyText {
	display: block;
	width: 6vw;
	font-family: "Noto Sans Ambassadori";
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #FFF;
	text-align: center;
	font-family: "Noto Sans Ambassadori";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.com-egt-jackpot-html-I {
	width: 100%;
	height: 19vw;
}

.com-egt-jackpot-html-II {
	width: 100%;
	height: 19vw;
}

.com-egt-jackpot-html-III {
	width: 100%;
	height: 19vw;
}

.com-egt-jackpot-html-IV {
	width: 100%;
	height: 19vw;
}

	
} */
#com-egt-jackpot-html-jackpotBanner {
	display: flex !important;
	gap: 20px;
	height: 100%;
	margin: 0 2vw;
	justify-content: space-around !important;

	--var-font-size: 1.5vw;

	.com-egt-jackpot-html-value {
		width: 100% !important;
		display: flex !important;
		justify-content: end !important;
	}
}

.com-egt-jackpot-html-first.com-egt-jackpot-html-numbers {
	width: 90px !important;
	display: block;
}

@media (max-width: 1400px) {

	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-IV,
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-III,
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-II,
	#com-egt-jackpot-html-jackpotBanner.com-egt-jackpot-html-md .com-egt-jackpot-html-box.com-egt-jackpot-html-I {
		width: 70%;
		margin-left: 2.6vw !important;
	}
}

@media (max-width: 800px) {
	#com-egt-jackpot-html-jackpotBanner {
		display: grid !important;
		grid-template-columns: 6fr 1fr 6fr;
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 0px;
		gap: 20px;

		.com-egt-jackpot-html-II,
		.com-egt-jackpot-html-I {
			display: none !important;
		}
	}

	.com-egt-jackpot-html-IV {
		grid-area: 1 / 1 / 2 / 2;
		justify-self: center;
	}

	.com-egt-jackpot-html-III {
		grid-area: 1 / 3 / 2 / 3;
		justify-self: center;
	}

	.com-egt-jackpot-html-clear-fix {
		justify-self: center;
	}
}

.com-egt-jackpot-html-box,
.com-egt-jackpot-html-box::before {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset !important;
}



.com-egt-jackpot-html-box.com-egt-jackpot-html-I {
	border: 0.2vw solid #C09D05;
	background: linear-gradient(180deg, #341354 0%, #8B46C5 38%, #2E164E 100%) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
	border-radius: 4px 12px 12px 4px;
}

.com-egt-jackpot-html-box.com-egt-jackpot-html-I::before {
	border: 0.2vw solid #C09D05;
	
	background: url("./img/616aee42-b52d-4f5a-be0d-c314506f2f34 1.png"),
				 linear-gradient(180deg, #341354 0%, #8B46C5 38%, #2E164E 100%) !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: 3px 4px, center center !important;
	background-size: 100% 100%, cover !important;
	backdrop-filter: blur(9.449999809265137px);
}


.com-egt-jackpot-html-box.com-egt-jackpot-html-II {
	border: 0.2vw solid #C09D05;
	background:  linear-gradient(180deg, rgba(18, 71, 18, 0.60) 0%, #2E962E 38%, rgba(20, 77, 19, 0.60) 100%) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
	border-radius: 4px 12px 12px 4px;
}

.com-egt-jackpot-html-box.com-egt-jackpot-html-II::before {
	border: 0.2vw solid #C09D05;
	background: url("./img/7c08454d-924f-4e4b-8d21-66a13dc6701a 1.png"),
		linear-gradient(180deg, #0C2C0C 0%, #2E962E 38%, #0C2C0C 100%) !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: 3px 4px, center center !important;
	background-size: 100% 100%, cover !important;
	backdrop-filter: blur(9.449999809265137px);
}

.com-egt-jackpot-html-box.com-egt-jackpot-html-III {
	border: 0.2vw solid #C09D05;
	background: linear-gradient(180deg, rgba(13, 29, 73, 0.60) 0%, #2E4BA5 38%, #0D1D49 100%) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
	border-radius: 4px 12px 12px 4px;
}

.com-egt-jackpot-html-box.com-egt-jackpot-html-III::before {
	border: 0.2vw solid #C09D05;
	background: url("./img/90074548-a917-46fc-af2b-e60e426a3fd5 1.png"),
				linear-gradient(180deg, rgba(12, 36, 98, 0.60) 0%, #2E4BA5 38%, rgba(19, 45, 118, 0.60) 100%) !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: 3px 4px, center center !important;
	background-size: 100% 100%, cover !important;
	backdrop-filter: blur(9.449999809265137px);
}

.com-egt-jackpot-html-box.com-egt-jackpot-html-IV {
	border: 0.2vw solid #C09D05;
	background: linear-gradient(180deg, #531716 0%, #B91818 38%, #531716 100%) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
	border-radius: 4px 12px 12px 4px;
}

.com-egt-jackpot-html-box.com-egt-jackpot-html-IV::before {
	border: 0.2vw solid #C09D05;
	background: url("./img/719a4ef5-83ae-42ff-acef-f3f805cfd19e 1.png"),
				linear-gradient(180deg, rgba(119, 1, 0, 0.60) 0%, #B91818 38%, rgba(128, 0, 0, 0.60) 100%) !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: 3px 4px, center center !important;
	background-size: 100% 100%, cover !important;
	backdrop-filter: blur(9.449999809265137px);
}

*/ .com-egt-jackpot-html-box,
.com-egt-jackpot-html-box::before {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset !important;
}

.com-egt-jackpot-html-currency {
	justify-items: end;
	
	width: 2vw !important;

}

.com-egt-jackpot-html-currencyText {
	width: auto !important;
	height: 100%;
	line-height: 1;
	align-content: center;
}