:root{
  --banner-height: 4.583vw;
  --banner-border-radius: 1.042vw;
  --banner-padding: 0vw 7.656vw;
  --border-main-width: 0.104vw;
  --border-width: 0.104vw;
  --jackpot-width: 14.583vw;
  --jackpot-height: 3.333vw;
  --jackpot-gap: 0.625vw;
  --jackpot-padding-right: 0.833vw;
  --jackpot-margin-left: 1.302vw;
  --jackpot-border-radius: 10px 1.25vw 1.25vw 10px;
  --jackpot-margin-right: 1.667vw;
  --icon-size: 3.542vw;
  --icon-left-offset: -1.302vw;
  --icon-top-offset: -0.208vw;
  --icon-border-radius: 3.333vw;
  --logo-width: 7.813vw;
  --border-color-light-gold: #d9be8e;
  --text-color: #fff;
  --backdrop-filter: blur(9.449999809265137px);
  --font-family-primary: "Noto Sans Ambassadori";
  --font-family-slim: "Noto Sans Ambassadori Slim";
  --font-family-bold: "Noto Sans Ambassadori Bold";
  --font-size-primary: 1vw;
  --letter-spacing: 0.125vw;
  --font-url-regular: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Regular.ttf);
  --font-url-bold: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Bold.ttf);
  --order-III: 3;
  --order-logo: 2;
  --order-II: 1;
}


@font-face {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: var(--font-url-regular);
}
@font-face {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: var(--font-url-regular);
}
@font-face {
  font-family: var(--font-family-slim);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: var(--font-url-regular);
}
@font-face {
  font-family: var(--font-family-slim);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: var(--font-url-regular);
}
@font-face {
  font-family: var(--font-family-bold);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: var(--font-url-bold);
}
@font-face {
  font-family: var(--font-family-bold);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: var(--font-url-bold);
}

#EgtFlashBannerHolder {
  display: flex;
  height: var(--banner-height);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: -1;
  border-radius: var(--banner-border-radius);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    padding: var(--border-main-width);
    background: var(--gradient-banner);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

#com-egt-jackpot-html-jackpotBanner {
  display: flex;
  padding: var(--banner-padding) !important;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

.com-egt-jackpot-html-I,
.com-egt-jackpot-html-II,
.com-egt-jackpot-html-III,
.com-egt-jackpot-html-IV {
  box-sizing: border-box !important;
  width: var(--jackpot-width) !important;
  height: var(--jackpot-height) !important;
  background: var(--gradient-default);
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center;
  border: var(--border-width) solid var(--border-color-gold) !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  gap: var(--jackpot-gap);
  padding-right: var(--jackpot-padding-right) !important;
  position: relative;
  margin-left: var(--jackpot-margin-left) !important;
  border-radius: var(--jackpot-border-radius) !important;

  &::before {
    content: "";
    display: flex;
    position: absolute;
    width: var(--icon-size);
    padding: var(--border-width);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    left: var(--icon-left-offset);
    top: var(--icon-top-offset);
    border-radius: 64px;
    border: var(--border-width) solid var(--border-color-light-gold);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center;

  }

  &::after {
    content: "";
    position: absolute;
    width: var(--level-icon-size);
    aspect-ratio: 1/1;
    right: 50%;
    top: var(--level-icon-top-offset);
    transform: translateX(50%);
    background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center;
  }
}

.com-egt-jackpot-html-IV,
.com-egt-jackpot-html-II {
  margin-right: var(--jackpot-margin-right);
}

map {
  display: none;
}

.com-egt-jackpot-html-dummyImg {
  display: none !important;
}

.com-egt-jackpot-html-clear-fix {
  order: var(--order-logo);
  width: var(--logo-width);
  height: 100%;
  margin: auto;
  background: var(--logo-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  scale: 1;
  pointer-events: none;
}

.com-egt-jackpot-html-popUpMask {
  display: none;
}
.com-egt-jackpot-html-value {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
}

.com-egt-jackpot-html-digit {
  display: flex;
  flex-direction: column;
  height: 200%;
  position: relative;
}

.com-egt-jackpot-html-numbers {
  line-height: unset !important;
  height: 100%;
}

.com-egt-jackpot-html-currency,
.com-egt-jackpot-html-dot,
.com-egt-jackpot-html-old,
.com-egt-jackpot-html-new {
  align-items: center;
  align-content: center;
  height: 100%;
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-primary) !important;
  letter-spacing: var(--letter-spacing) !important;
}

.com-egt-jackpot-html-level {
  position: absolute;
}


.com-egt-jackpot-html-II  {
  background: var(--gradient-level-ii);
  border-color: var(--border-color-level-ii) !important;
  border-width: var(--border-width-level-ii, 2px) !important;
  &::before {
    border-color: var(--border-color-level-ii);
    background: var(--level-ii-mini-image), #185703;
    backdrop-filter: var(--backdrop-filter);
    border-width: var(--border-width-level-ii, 2px) !important;
    background-size: 80% !important;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.com-egt-jackpot-html-III {
  order: var(--order-III);
  background: var(--gradient-level-iii);
  border-color: var(--border-color-level-iii) !important;
  border-width: var(--border-width-level-iii, 2px) !important;

  &::before {
    border-color: var(--border-color-level-iii);
    background: var(--level-iii-mini-image),  #0055aa;
    backdrop-filter: var(--backdrop-filter);
    border-width: var(--border-width-level-iii, 2px) !important;
    background-size: 80% !important;
    background-position: center;
    background-repeat: no-repeat;
  }
}





@media screen and (max-width: 768px) {
  :root {
  --order-IV: 0;
  --order-logo: 1;
  --order-III: 2;
  --banner-height: 13.784vw;
  --banner-padding: 0vw 3.243vw;
  --jackpot-width: 34.595vw;
  --jackpot-height: 9.189vw;
  --border-main-width: 0.541vw;
  --border-width: 0.27vw;
  --icon-size: 10.811vw;
  --icon-top-offset: -0.811vw;
  --icon-left-offset: -5.135vw;
  --jackpot-margin-left: 5.135vw;
  --jackpot-margin-right: 0vw;
  --jackpot-border-radius: 1.351vw 3.243vw 3.243vw 1.351vw;
  --jackpot-padding-right: 2.703vw;
  --font-size-primary: 3.784vw;
  --jackpot-gap: 1.351vw;
  --banner-border-radius: 4.324vw;
  --level-icon-size: 10.811vw;
  --level-icon-top-offset: -4.865vw;
  }




}
